build/
package/
dist/
package/linux/
package/linux-install/
package/linux-release/
*.user
*.suo
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.pyc
__pycache__/
.pytest_cache/
.deps/
build_x64/
build_x86_64/
worker/stream-saver-ocr.exe
worker/*.onnx
worker/*.pt
build/pyinstaller/
